In [2]:
import pandas as pd
import numpy as np
data=pd.read_csv("Downloads/students_20.csv")
print(data)

   Student Name  Math  Science  English
0         Aarav    75      100       86
1          Diya    91       73       93
2         Kabir    94       89       94
3         Meera    88       97       73
4        Ishaan    77       80       74
5        Ananya    72       90       72
6         Rohan    90       81       80
7         Sanya    89       77       90
8         Arjun    73       81       84
9         Priya    72       70       75
10       Vihaan    91       77       79
11        Nisha    89       85       70
12       Aditya    78       94       72
13        Kavya    75       75       76
14        Manav    87       96       80
15       Ritika    75       89       75
16        Karan    80       94       97
17       Simran    87       90       72
18          Dev    83       77       91
19        Pooja    75       77       94

In [3]:
#Show the first 5 rows of the DataFrame.
print(data.head(5))

  Student Name  Math  Science  English
0        Aarav    75      100       86
1         Diya    91       73       93
2        Kabir    94       89       94
3        Meera    88       97       73
4       Ishaan    77       80       74

In [4]:
#Show only the "Student Name" and "Math" columns.
print(data[["Student Name","Math"]])

   Student Name  Math
0         Aarav    75
1          Diya    91
2         Kabir    94
3         Meera    88
4        Ishaan    77
5        Ananya    72
6         Rohan    90
7         Sanya    89
8         Arjun    73
9         Priya    72
10       Vihaan    91
11        Nisha    89
12       Aditya    78
13        Kavya    75
14        Manav    87
15       Ritika    75
16        Karan    80
17       Simran    87
18          Dev    83
19        Pooja    75

In [5]:
#Find the average marks in each subject.
print(data[["Math","Science", "English"]].mean())

Math       82.05
Science    84.60
English    81.35
dtype: float64

In [6]:
#Which student scored the highest in Science?
top_score=data["Science"].max()
max_science=data[data["Science"]==top_score]
print("Highest score in science :",top_score)
print("\nmax science row:\n",max_science)
top_student=data.loc[data["Science"]==top_score,"Student Name"]
print("\nStudent who scored highest mark in Science:\n",top_student)

Highest score in science : 100

max science row:
   Student Name  Math  Science  English
0        Aarav    75      100       86

Student who scored highest mark in Science:
 0    Aarav
Name: Student Name, dtype: object

In [7]:
#Select students who scored more than 90 in English.
max_english=data[data["English"]>90]
print(max_english)
student_name=data.loc[data["English"]>90 ,"Student Name"]
print(student_name)
student_row=data.loc[data["English"]>90 ,["Student Name","English"]]
print(student_row)

   Student Name  Math  Science  English
1          Diya    91       73       93
2         Kabir    94       89       94
16        Karan    80       94       97
18          Dev    83       77       91
19        Pooja    75       77       94
1      Diya
2     Kabir
16    Karan
18      Dev
19    Pooja
Name: Student Name, dtype: object
   Student Name  English
1          Diya       93
2         Kabir       94
16        Karan       97
18          Dev       91
19        Pooja       94

In [8]:
#Sort students by Math marks in descending order.
sort=data.sort_values("Math",ascending=False)[["Student Name","Math"]]
print(sort)

   Student Name  Math
2         Kabir    94
1          Diya    91
10       Vihaan    91
6         Rohan    90
11        Nisha    89
7         Sanya    89
3         Meera    88
17       Simran    87
14        Manav    87
18          Dev    83
16        Karan    80
12       Aditya    78
4        Ishaan    77
0         Aarav    75
15       Ritika    75
13        Kavya    75
19        Pooja    75
8         Arjun    73
9         Priya    72
5        Ananya    72

In [9]:
#Add a new column "Total" = Math + Science + English.
data["Total"]=data["Math"]+data["Science"]+data["English"]
print(data)

   Student Name  Math  Science  English  Total
0         Aarav    75      100       86    261
1          Diya    91       73       93    257
2         Kabir    94       89       94    277
3         Meera    88       97       73    258
4        Ishaan    77       80       74    231
5        Ananya    72       90       72    234
6         Rohan    90       81       80    251
7         Sanya    89       77       90    256
8         Arjun    73       81       84    238
9         Priya    72       70       75    217
10       Vihaan    91       77       79    247
11        Nisha    89       85       70    244
12       Aditya    78       94       72    244
13        Kavya    75       75       76    226
14        Manav    87       96       80    263
15       Ritika    75       89       75    239
16        Karan    80       94       97    271
17       Simran    87       90       72    249
18          Dev    83       77       91    251
19        Pooja    75       77       94    246

In [10]:
#Find the student with the highest total marks.
high_mark=data.loc[data["Total"].idxmax()]
print(high_mark)
stu_high_mark=data.loc[data["Total"].idxmax(),"Student Name"]
print(stu_high_mark)

Student Name    Kabir
Math               94
Science            89
English            94
Total             277
Name: 2, dtype: object
Kabir

In [11]:
#Show students who scored less than 80 in at least one subject.
less_80=data[(data["Math"] < 80) | (data["Science"] < 80) | (data["English"]<80)]
print(less_80)

   Student Name  Math  Science  English  Total
0         Aarav    75      100       86    261
1          Diya    91       73       93    257
3         Meera    88       97       73    258
4        Ishaan    77       80       74    231
5        Ananya    72       90       72    234
7         Sanya    89       77       90    256
8         Arjun    73       81       84    238
9         Priya    72       70       75    217
10       Vihaan    91       77       79    247
11        Nisha    89       85       70    244
12       Aditya    78       94       72    244
13        Kavya    75       75       76    226
15       Ritika    75       89       75    239
17       Simran    87       90       72    249
18          Dev    83       77       91    251
19        Pooja    75       77       94    246

In [12]:
#Save the updated DataFrame (with totals) to a new CSV.
data.to_csv("updated_student_file.csv",index=False)

In [13]:
data.drop(columns=["Total"]).to_csv("newupdated_student_file.csv",index=False)

In [14]:
#What is the highest and lowest mark in Math?
high=data["Math"].max()
low=data["Math"].min()
print("\nHighest mark in Math:\n",high)
print("\nLowest mark in Math:\n",low)

Highest mark in Math:
 94

Lowest mark in Math:
 72

In [15]:
#Find the average total marks of all students.
avg=data["Total"].mean()
print(avg)

248.0

In [16]:
#Show only the top 3 students in English.
top_3=data.sort_values("English",ascending=False).head(3)[["Student Name","English"]]
print(top_3)

   Student Name  English
16        Karan       97
2         Kabir       94
19        Pooja       94

In [17]:
#Count how many students scored above 85 in Science.
counting=(data["Science"]>85).sum()
print("students scored above 85 in Science:",counting)

students scored above 85 in Science: 9

In [18]:
#Create a new column "Grade" based on Total Marks
data["Grade"]=pd.cut(data["Total"],bins=[0,239,259,300],labels=["C","B","A"])
print(data[["Student Name","Total","Grade"]])

   Student Name  Total Grade
0         Aarav    261     A
1          Diya    257     B
2         Kabir    277     A
3         Meera    258     B
4        Ishaan    231     C
5        Ananya    234     C
6         Rohan    251     B
7         Sanya    256     B
8         Arjun    238     C
9         Priya    217     C
10       Vihaan    247     B
11        Nisha    244     B
12       Aditya    244     B
13        Kavya    226     C
14        Manav    263     A
15       Ritika    239     C
16        Karan    271     A
17       Simran    249     B
18          Dev    251     B
19        Pooja    246     B

In [19]:
#Show the average marks per subject for each Grade.S
avg_grade=data.groupby("Grade").mean(numeric_only=True).sort_values("Grade",ascending=False)
print(avg_grade)

       Math    Science  English       Total
Grade
A      84.0  94.750000    89.25  268.000000
B      86.1  82.800000    81.40  250.300000
C      74.0  80.833333    76.00  230.833333

C:\Users\Raghul\AppData\Local\Temp\ipykernel_95996\335887951.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  avg_grade=data.groupby("Grade").mean(numeric_only=True).sort_values("Grade",ascending=False)

In [36]:
#Show students who have the same marks in any two subjects.
same_marks=((data["Math"]==data["Science"]) | (data["Math"]==data["English"]) | (data["Science"]==data["English"]))
print(data[same_marks])

   Student Name  Math  Science  English  Total Grade
2         Kabir    94       89       94    277     A
5        Ananya    72       90       72    234     C
13        Kavya    75       75       76    226     C
15       Ritika    75       89       75    239     C

In [32]:
#Show the top 5 students based on total marks only (Student Name + Total).
top_5=(data[["Student Name", "Total"]].sort_values("Total",ascending=False).head(5))
print(top_5)

   Student Name  Total
2         Kabir    277
16        Karan    271
14        Manav    263
0         Aarav    261
3         Meera    258

In [42]:
data[["Student Name","Grade"]].to_csv("student_and_grade.csv",index=False)